.card{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr); 

    margin: 50px;
  }

  .shopwrapper {
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */

    margin: 0; /* Entfernt Standard-Abstände */
}

.shopContainer{
    margin-top: 10%;
}

.shop-heading {
    position: relative; /* Ermöglicht das Überlappen der beiden Teile */
    font-family: Arial, sans-serif; /* Schriftart */
    font-weight: normal;
}

.large-shop {

    font-size: 10rem; /* Große Schriftgröße für den ersten Teil */
    font-weight: bold; /* Dicke Schrift */
    position: relative; /* Keine absolute Positionierung mehr */
    color: #f0f0f0f0; /* Farbe des ersten Teils */
}

.small-shop {
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Poiret One', display;
    font-size: 8rem; /* Kleine Schriftgröße für den zweiten Teil */
    font-weight: 100; /* Dünne Schrift */
    position: absolute; /* Absolute Positionierung für das Überlappen */
    top: 50%; /* Setzt den oberen Rand des kleinen Teils auf 50% */
    left: 50%; /* Setzt den linken Rand des kleinen Teils auf 50% */
    transform: translate(-50%, -50%); /* Verschiebt den Text um 50% von seiner eigenen Größe */
    color: #000; /* Farbe des zweiten Teils */
}

