.cartBackround {
    height: 60vh;
    background-image: url(../../../public/bonsai1.png);
    background-size: 50rem; /* Das Bild füllt den gesamten Bildschirm */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
}

.cart {
    height: 70vh; /* Anpassung der Höhe */
    width: 50vw; /* Breite bleibt bei 50% der Viewport-Breite */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Transparente weiße Hintergrundfarbe */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Dünne weiße Border */
    border-radius: 8px; /* Abgerundete Ecken */
    backdrop-filter: blur(10px); /* Weichzeichner-Effekt auf den Hintergrund */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leichter Schlagschatten */
    transition: all 0.3s ease-in-out; /* Sanfte Übergänge für den Hover-Effekt */
    overflow-y: auto; /* Stellt sicher, dass bei vielen Artikeln gescrollt werden kann */
}

.cart h2 {
    text-transform: uppercase;
    font-family: 'Poiret One', display;
    font-weight: 600;
    font-size: 4rem;
}

.cart-item {
    display: flex;
    justify-content: space-between; /* Verteilt den Inhalt gleichmäßig */
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Dünne Linie unter jedem Artikel */
}

.cart-item-image img {
    width: 50px; /* Bildbreite */
    height: auto;
    margin-right: 15px;
}

.cart-item-details {
    flex: 1; /* Lässt den Titel und Details den verfügbaren Platz ausfüllen */
    display: flex;
    justify-content: flex-start; /* Stellt sicher, dass der Titel links bleibt */
}


.buyBtn {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background: #2f4f4f;
    border-radius: 4px;
    margin-top: 50px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}
