.card {
    display: flex;           
    flex-wrap: wrap;             
    justify-content: space-between; 
    margin: 50px;
  }
.shopwrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0; 
}

.shopContainer {
    margin-top: 17%;
}

.shop-heading {
    position: relative; 
    font-family: Arial, sans-serif; 
    font-weight: normal;
}

.large-shop,
.small-shop {
    opacity: 0; 
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; 
}

.large-shop {
    transform: translateX(-100%); 
    font-size: clamp(3rem, 8vw, 10rem);
    font-weight: bold; 
    position: relative; 
    color: #f0f0f0f0; 
}

.large-shop.visible {
    opacity: 1; 
    transform: translateX(0); 
}

.small-shop {
    transform: translate(-50%, -50%) translateX(100%); 
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Poiret One', display;
    font-size: clamp(3rem, 6vw, 8rem);
    font-weight: 100; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    color: #000; 
}

.small-shop.visible {
    opacity: 1; /* Sichtbar */
    transform: translate(-50%, -50%) translateX(0); 
}
