*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.shopping-cart {
    font-size: 2rem;
    position: absolute; 
    top: 20px; 
    right: 0px;
    width: 5vw; 
  
}

.shopping-cart .cart-icon {
    color: #1e3636; 
}

.shopping-cart a {
    text-decoration: none;  
}

.shopping-cart .cart-count {
    color: #1e3636;  
    border: none;
    box-shadow: none;
}
